@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FAFBFC;
  --foreground: #2D3748;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 48px;
}

.small-caps-label {
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .gradient-accent {
    background-image: linear-gradient(to right, #FF8C42, #F6AD55);
  }
}
